# Ignore Visual Studio Code settings folder
.vscode

# Compiled object files
/obj
*.o

# Exam Rank 04 binaries
level-1/ft_popen/ft_popen
level-1/ft_popen/ft_popen_short
level-1/picoshell/picoshell
level-1/picoshell/picoshell_short
level-1/sandbox/sandbox

level-2/argo/argo
level-2/vbc/vbc